<div class="card blog-card">
  <img src="{{ post?.imagePath }}" alt="post-image" class="card-img-top" />

  <div class="card-body">
    <div class="d-flex flex-wrap gap-2 mb-2">
      <small class="badge bg-light text-danger px-2 py-1">{{
        post?.category?.name
      }}</small>
      <small class="badge bg-light text-success px-2 py-1">{{
        post?.isFeatured ? "Featured" : "Latest"
      }}</small>
      <small class="badge bg-light text-info px-2 py-1"
        >Views - {{ post?.views }}</small
      >
    </div>

    <h5 class="card-title mt-2">
      {{ post?.title }}
    </h5>

    <p class="card-text excerpt-container">
      {{ post?.excerpt }}
    </p>

    <small class="text-warning fw-semibold d-block mt-2">
      Last Updated — {{ post?.createdAt?.getDate() | date: "mediumDate" }}
    </small>
  </div>
</div>
